@layer base {
	* {
		@apply border-border selection:bg-overlay2/25 selection:text-inherit;
	}
	body {
		@apply bg-background text-foreground;
	}

	body::-webkit-scrollbar-track {
		background: theme("colors.overlay1");
		border-radius: 999px;
	}

	body::-webkit-scrollbar-thumb {
		background: theme("colors.foreground");
		border-radius: 999px;
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: theme("colors.foreground") transparent;
		}
	}
}

:root {
	--un-default-border-color: theme("colors.surface1");
}
