@layer base {
	* {
		@apply border-border selection:bg-overlay2/25 selection:text-inherit;
	}

	body {
		@apply bg-background text-foreground;
	}

	body::-webkit-scrollbar-track {
		background: theme("colors.overlay1");
		border-radius: 999px;
	}

	body::-webkit-scrollbar-thumb {
		background: theme("colors.foreground");
		border-radius: 999px;
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: theme("colors.foreground") transparent;
		}
	}
}

:root {
	--un-default-border-color: theme("colors.surface1");
}

code,
kbd,
samp,
pre {
	font-family: theme("fontFamily.mono");
}

/* font-family:
			"M PLUS Rounded 1c",
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif; */
